
<div class="table-cell border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-200">
  <strong>Name:</strong>
  <%= product.name %>
</div>

<div class="table-cell border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-200">
  <strong>Description:</strong>
  <%= product.description %>
</div>

<div class="table-cell border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-200">
  <strong>Category:</strong>
  <%= product.category %>
</div>

<div class="table-cell border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-200">
  <strong>Quantity:</strong>
  <%= product.quantity %>
</div>

<div class="table-cell border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-200">
  <strong>Price:</strong>
  <%= product.price %>
</div>


